{% extends 'base.html.twig' %}

{% block body %}
    <h1>Orders list</h1>

    <table>
        <thead>
            <tr>
                <th>Orderdate</th>
                <th>Requireddate</th>
                <th>Shippeddate</th>
                <th>Status</th>
                <th>Comments</th>
                <th>Ordernumber</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for order in orders %}
            <tr>
                <td><a href="{{ path('orders_show', { 'id': order.ordernumber }) }}">{{ order.orderdate }}</a></td>
                <td>{% if order.requireddate %}{{ order.requireddate|date('Y-m-d') }}{% endif %}</td>
                <td>{% if order.shippeddate %}{{ order.shippeddate|date('Y-m-d') }}{% endif %}</td>
                <td>{{ order.status }}</td>
                <td>{{ order.comments }}</td>
                <td>{{ order.ordernumber }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('orders_show', { 'id': order.ordernumber }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('orders_edit', { 'id': order.ordernumber }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('orders_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
